@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #050505;
    color: #33ff00;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    overflow: hidden;
}

/* --- CLASSES DE CORES DO PYTHON --- */
.verde { color: #33ff00; }
.branco { color: #ffffff; }
.amarelo { color: #ffcc00; }
.vermelho { color: #ff3333; }

.game-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* TERMINAL */
.terminal-section {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* EFEITO RETRÔ */
.crt-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 100;
}

#output p {
    margin-bottom: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-line {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    color: #33ff00;
}

input {
    background: transparent;
    border: none;
    color: #33ff00;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    flex: 1;
    outline: none;
    
    /* O SEGREDO DO CURSOR MS-DOS */
    caret-color: #33ff00;
    caret-shape: block;
}

/* SIDEBAR */
.sidebar {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    background-color: #0a0a0a;
    border-left: 2px solid #33ff00;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel h2 {
    color: #ffffff;
    font-size: 1.2rem;
    border-bottom: 1px dashed #33ff00;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.status-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

.shortcuts p {
    color: #888;
    font-size: 1.1rem;
}

.shortcuts strong {
    color: #fff;
}

/* RESPONSIVIDADE PARA CELULAR */
@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
    }
    .terminal-section {
        flex: 2;
    }
    .sidebar {
        flex: 1;
        max-width: 100%;
        border-left: none;
        border-top: 2px solid #33ff00;
    }
}

/* --- SPINNER DE CARREGAMENTO --- */
.spinner-container {
    display: none;
    color: #ffcc00;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}
.spinner {
    width: 15px; height: 15px;
    border: 3px solid #ffcc00;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }